{% extends 'base.html.twig' %}

{% block body %}
    <div class="login-container">
        <span class="login-box">
            <h2>Login</h2>
            <form action="{{ path('security_login_submit') }}" method="post" style="text-align: center;">
                {% if error %}
                    <div style="color: red; text-align: center;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="user-box">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required autofocus>
                    <label for="username">Email</label>

                </div>
                <div class="user-box">
                    <input type="password" name="_password" required>
                    <label for="password">Password</label>
                </div>
                <div>
                    <a href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <button type="submit">
                            Login
                        </button>
                    </a>
                </div>

            </form>
            <span class="text">Not logged in yet ?</span>
            <span class="text">
            <a href="{{ path('app_register') }}">Go to Register</a>
            </span>
        </span>
    </div>

{% endblock %}
