<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <script src="https://kit.fontawesome.com/60f1874be9.js" crossorigin="anonymous"></script>
        <title>Car Park Homepage</title>

        <link rel="icon" type="image/x-icon" href={{ absolute_url('images/parking-sign.ico') }}>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% if app.user is not null %}
    <div class="nav">
        <div class="link">

            <form action="{{ path('security_logout') }}" method="post">
                <button type="submit"><a>Logout</a></button>
            </form>

        </div>
        {% endif %}
    </div>
        {% block body %}{% endblock %}
    </body>
</html>
